<h1>Log In Here</h1>

<% if flash["login_error"] %>
<p style="color: red;"><%= flash["login_error"] %></p>
<% end %>
<form action="<%= session_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">

  <label for="user_name">Username</label>
  <input id="user_name" type="text" name="user[user_name]">

  <br>

  <label for="user_password">Password</label>
  <input id="user_password" type="password" name="user[password]">

  <br>

  <input type="submit" value="Log in">
</form>
