<h2>Cats upon cats!</h2>

<ul style="list-style-type: none;">
  <% @cats.each do |cat| %>
    <li>
      <a href="<%= cat_url(cat) %>"><%= cat.name %></a><br>
      <img style="margin-bottom: 20px; width: 110px;" src="<%= cat.image.url %>">
    </li>
  <% end %>
</ul>

<%= link_to "Create cat", new_cat_url %>
